@page
@model KippensGroup1.Pages.ClothModel
@{
    ViewData["Title"] = "Cloth";
}

<html>
<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="account">
        <h2>Our Clothing closet services many people in our community.</h2>
        <h3>These are the items we have usually in stock. We always accept donations.</h3>
        <ul>
            <li>Men's clothing</li>
            <li>Woman's clothing</li>
            <li>Kids clothes</li>
            <li>Baby/toddler clothes</li>
            <li>Accessories</li>
        </ul>
    </div>
</body>
</html>

