@page
@model KippensGroup1.Pages.Shared.CounselingModel
@{
    ViewData["Title"] = "Counseling";
}

<html>
<head>
    <style>
        h1 {
            align-content: center;
        }

        #tbl {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 70%;
        }

            #tbl td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #tbl tr:nth-child(even) {
                background-color: white;
            }

            #tbl tr:hover {
                background-color: whitesmoke;
            }

            #tbl th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: rgb(0, 0, 128);
                color: white;
            }
    </style>
</head>

<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="account">
        <h3> Welcome to our Counseling page. If you wish to find out more information or sign up for counseling, contact one of the counselers below.</h3>

        <table align="center" id="tbl" border="1">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Email:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coun in Model.counselers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(Model => coun.name)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => coun.email)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>