@page
@model KippensGroup1.Pages.DonationModel
@{
    ViewData["Title"] = "Donation";
}

<html>
<body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Donation</h2>
<label asp-for="Error">@Model.Error</label>
<form asp-page-handler="donation" post="method">
    <label>Name: </label>
    <input type="text" name="name" required="required" />
    <br>
    <br>
    <label>Description of Donation: </label>
    <input type="text" name="description" required="required" />
    <br>
    <br>
    <label>Quantity: </label>
    <input type="text" name="quantity" required="required" />
    <br>
    <br>
    <input type="submit" name="submit" value="submit" />
</form>

</body>
</html>