@page
@model KippensGroup1.Pages.FoodModel
@{
    ViewData["Title"] = "Food";
}


<html>
<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="account">
        <h2>Our Food Pantry services many people in our community.</h2>
        <h3>These are the items we have usually in stock. We always accept donations.</h3>
        <ul>
            <li>Canned food</li>
            <li>Sauces</li>
            <li>Pastas</li>
            <li>Condements</li>
            <li>And many others</li>
        </ul>
    </div>
</body>
</html>
