@page
@model KippensGroup1.GetReportModel
@{
    ViewData["Title"] = "GetReport";

}

<html>
<body>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label>Choose report type:</label>

    <select id="reportType" onchange="dateSelect()">
        <option value="week">Weekly</option>
        <option value="month">Monthly</option>
        <option value="quarter">Quarterly</option>
        <option value="year">Anually</option>

    </select>
    <br>
    <br>

    <br>
    <br />
    @*<form>
        <label for="date">Choose start of report:</label>
        <input type="week" id="dateInput" required="required">
        <input type="submit" asp-page="./ShowReport" name="enterDate" value="Submit">
    </form>*@
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="post">
        <label for="date">Choose start of report:</label>
        <input type="date" name="dateInput">
        <input type="submit">
    </form>
    <br>
    <br />
    <script>
        function dateSelect() {
            var dt = document.getElementById("reportType");
            var dateType = dt.options[dt.selectedIndex].value;
            document.getElementById("dateInput").type = dateType;
        }
    </script>
</body>

</html>


