@page
@model KippensGroup1.GetReportModel
@{
    ViewData["Title"] = "GetReport";
}

<html>
<body>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label>Choose report type:</label>

    <form asp-page-handler="selectDate" method="post">
        <select name="reportType">
            <option value="week">Weekly</option>
            <option value="month">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="anually">Anually</option>
        </select>
    </form>
    <br>
    <br>
    <label asp-for="ReportType">@Model.ReportType</label>

    <br>
    <br />
    <form asp-page-handler="enterDate" method="post">
        <label for="date">Choose start of report:</label>
        <input name="date" type="@Model.ReportType" required="required">
        <input type="submit" name="enterDate" value="Submit">
        @*<input type="submit" asp-page="./ShowReport" name="enterDate" value="Submit">*@
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />

</body>
</html>


