@page
@model KippensGroup1.GetReportModel
@{
    ViewData["Title"] = "GetReport";

}

<html>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />
    <form asp-page-handler="submit" method="post">
        <br />
        <br />
        <label for="date">start of report:</label>
        <input type="date" name="startDate">
        <label for="date">&nbsp; end of report:</label>
        <input type="date" name="endDate">
        <input type="submit" name="submit">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />
</body>

</html>


