@page
@model KippensGroup1.GetReportModel
@{
    ViewData["Title"] = "GetReport";
}

<html>
<body>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label>Choose report type:</label>

    <select id="number">
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="quarterly">Quarterly</option>
        <option value="anually">Anually</option>
    </select>
    <br>
    <br>
    <br>
    <br />
    <form asp-page-handler="enterDate" method="post">
        <label for="date">Choose start of report:</label>
        <input name="date" type="date" required="required">
        <input type="submit" asp-page="./ShowReport" name="enterDate" value="Submit">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />

</body>
</html>


