@page
@model KippensGroup1.GetReportModel
@{
    ViewData["Title"] = "GetReport";
}

<html>
<body>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form asp-page-handler="enterDate" method="post">
        <label for="date">Choose start of report:</label>
        <input name="date" type="date" required="required">
        <input type="submit" asp-page="./Login" name="enterDate" value="Submit">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br />

</body>
</html>


