@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>

<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> Welcome to Our website!</h1>
    <p> We have great things Coming so stay tuned! </p>
    <label asp-for="logged">@Model.logged</label>
</body>
</html>