@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>

<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> Welcome to Kippens Corner!</h1>
    <p> We offer a variety of services such as Counseling and Tutoring services for kids along with a food pantry and clothing closet! </p>
    <p> If you wish to get updates or volenteer or have any questions, create an account and contact us! </p>

</body>
</html>