@page
@model KippensGroup1.Pages.loginModel
@{
    ViewData["Title"] = "login";
}

<html>
<body>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2> Login: </h2>
    <label asp-for="Error">@Model.Error</label>
    <br>
    <br />
    <div class="form">
    <form asp-page-handler="login" class="form" method="post">
        <label> Username:</label>
        <input name="user" type="text" required="required">
        <br>
        <br>
        <label> Password:</label>
        <input name="pass" type="text" required="required">
        <br />
        <br />
        <input type="submit" name="login" value="Submit">
    </form>
    </div>
    <br />
    <form asp-page-handler="signup" class="form" method="post">
        <input type="submit" name="signedup" value="Sign up" />
    </form>
</body>
</html>


