@page
@model KippensGroup1.ShowReportModel
@{
    ViewData["Title"] = "ShowReport";

    DonationAccess da = new DonationAccess();
    List<Donation> list = da.GetDonations();
    var x = 0;
    
}

    <html>

    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br />
        <table border="1">
            <tr>
                <th width="100px">Name</th>
                <th width="100px">Value</th>
            </tr>
            <tr>
                <td>Day</td>
                <td>@DateTime.Now.Day</td>
            </tr>
            <tr>
                <td>Hour</td>
                <td>@DateTime.Now.Hour</td>
            </tr>
            <tr>
                <td>Minute</td>
                <td>@DateTime.Now.Minute</td>
            </tr>
            <tr>
                <td>Second</td>
                <td>@DateTime.Now.Second</td>
            </tr>
            </td>
        </table>

    </body>
    </html>



