@page
@model KippensGroup1.Pages.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
}

<html>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Transaction</h2>
<label asp-for="Error">@Model.Error</label>
<form asp-page-handler="donation" post="method">
    <label>Name: </label>
    <input type="text" name="name" required="required" />
    <br>
    <br>
    <label>Description of Transaction: </label>
    <input type="text" name="description" required="required" />
    <br>
    <br>
    <label>Quantity: </label>
    <input type="text" name="quantity" required="required" />
    <br>
    <br>
    <input type="submit" name="submit" value="submit" />
</form>
</body>
</html>
