<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KippensGroup1</title>

    
    <environment names="Development">
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    
</head>
    <header>
        <h1>Kippens Corner Inc.</h1>
        <input id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="/Index">Home</a>
                <li><a href="/GetReport">About Us</a> <!-- right now takes me to get report for testing -->
                <li><a href="/ShowReport">Counseling</a> <!-- right now takes me to get report for testing -->
                <li><a href="#">Food Pantry</a>
                <li><a href="#">Closet</a>
                <li><a href="#">Tutoring</a>
                <li><a href="/login">Account</a>
            </ul>
        </nav>
    </header>
    <body>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2020 - Kippens Inc</p>
            </footer>
        </div>


    </body>
</html>
